@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.login-container {
    margin: auto;
    display: flex;
    width: 75%;
    height: 70%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:.1s;
    animation-delay: .1s
}
.left-section {
    background-color: white;
    width: 45%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.right-section {
    background-color: #396379;
    width: 55%;
    color: #F6A647;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-section-logo {
    width: 200px;
}
.login-title {
    font-size: 3em;
    margin-bottom: 10px;
}
.input-field {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    border: solid #396379;
    padding: 1em;
    font-size: 1em;
    background: #fff;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
.input-field:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px #F6A647;
}
.input-label {
    padding: 5px 0px 15px;
}
.login-button {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    background: #396379;
    color: #F6A647;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.left-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}
.secondary-link:visited {
    color: black;
}