
// accent theme colors
$accent-1: #383838;
$accent-2: #3577A2;
$accent-3: #3399DB;

// backgrounds
$background:          #FFFFFF;
$hover-background:    #91919175;
$linear-background-1: #cfd9df;  
$linear-background-2: #e2ebf0;  

// text
$text-light: #ffffff;

// borders
$border-light:  #ffffff;
$border-regular: #BDBDBD;
$border-dark:   #383838;


// basic colors
$white : #ffffff;

