@import '../../assets/scss/colors.scss';

.dashboard-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 25% 65%;
  @media only screen and (min-width: 768px) {
    grid-template-columns: 15% auto 25%;
    grid-template-rows: 10% 25% 65%;
  }
}
.item {
  height: 100%;
  width: 100%;
}
.profile {
  font-family: 'Raleway', sans-serif;
  color: $text-light;
  background: #383838;
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid $border-light;
  a {
    font-size: 22px;
    color: $text-light;
    padding: 15px;
    text-decoration: none;
  } 
  a:hover {
    background-color: #91919175
  }
}
.nav {
  font-family: 'Raleway', sans-serif;
  color: $text-light;
  background: #383838;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  a {
    font-size: 18px;
    color: $text-light;
    padding: 15px;
    text-decoration: none;
  }
  a:hover {
    background-color: #91919175
  }
}


.accounts {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: $text-light;
  background: #383838;
  grid-column-start: 1;
  grid-row-start: 3;
  border-top: 1px solid $border-light;
  div {
    padding: 15px;
  }
}
.page-content {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}