@import '../../assets/scss/colors.scss';

.category-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 13px;
  border-bottom: .5px solid $border-regular;
  font-size: 14px;
  cursor: pointer;
  .category-title {
    width: 40%;
  }
  .category-budgeted {
    width: 20%;
  }
  .category-activity {
    width: 20%;
  }
  .category-available {
    width: 20%;
  }
}
.category-item:hover {
  background-color: white;
}