@import '../../assets/scss/colors.scss';

.reports-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% auto;
}
.item {
  height: 100%;
  width: 100%;
}
.reports-header {
  font-family: 'Raleway', sans-serif;
  background: #383838;
  color: $text-light;
  font-size: 24px;
  display: flex;
  align-items: center;
  font-weight: 100px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.reports-content {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.reports-sidebar {
  background: $accent-3;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}