.accounts-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% auto;
}
.item {
  height: 100%;
  width: 100%;
}
.accounts-header {
  background: magenta;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.accounts-content {
  background: maroon;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}