@import '../../assets/scss/colors.scss';

.footer-nav{
  padding: 35px;
  display: flex;
}

.footer-nav-item {
  font-family: 'Raleway', sans-serif;
  color: $accent-2;
  text-decoration: none;
  margin-right: 15px;
  display: block;
}