@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.reset-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
        width: 75%;
    }
    @media only screen and (min-width: 1024px) {
        width: 50%;
    }
    width: 100%;
    height: 70%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:.1s;
    animation-delay: .1s;
    background-color: #ffffff;
    .reset-title {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 100%;
        @media only screen and (min-width: 1024px) {
            height: 100px;
        }
        img {
            width: 150px;
            @media only screen and (min-width: 768px) {
                width: 100%;
            }
        }
    }
    .reset-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        .welcome {
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            font-size: 28px;
        }
        .welcome-sub {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .reset-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
        .reset-form-links {
            display: flex;
            justify-content: space-between;
            width: 60%;
            .register-link {
                color: #3399DB;
                font-size: 12px;
                @media only screen and (min-width: 768px) {
                    margin-left: 75px;
                }
                text-decoration: underline;
            }
            .register-link:visited {
                color: #3399DB;
            }
            .login-link {
                color: #3399DB;
                font-size: 12px;
                @media only screen and (min-width: 768px) {
                    margin-right: 50px;
                }
                text-decoration: underline;
            }
            .login-link:visited {
                color: #3399DB;
            }
        }
        form {
            width: 100%;
            font-size: 14px;
            @media only screen and (min-width: 768px) {
                width: 60%;
            }
            padding-right: 100px;
        }
        .email-reset-input-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
            .email-input-field {
                margin-left: 15px;
                width: 60%;
                @media only screen and (min-width: 768px) {
                    width: 60%;
                }
                @media only screen and (min-width: 1024px) {
                    width: 70%;
                }
                padding: 10px;
            }
        }
        .reset-button-container {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            font-family: 'Open Sans', sans-serif;
            font-weight: 200;
            .reset-button {
                background-color: #3399DB;
                color: #ffffff;
                font-size: 18px;
                width: 70%;
                @media only screen and (min-width: 768px) {
                    width: 70%;
                }
                @media only screen and (min-width: 1024px) {
                    width: 75%;
                }
                padding: 10px 0;
                font-family: 'Open Sans', sans-serif;
                font-weight: 200;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}
