@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

.body-content {
  width: 100%;
  height: 800px;
  display: flex;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}