@import './assets//scss/colors.scss';
.body-content {
  width: 100%;
  height: calc(100vh - 91px - 68px); // view height minus header and footer heights to make it fit all screen sizes
  display: flex;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Open Sans', sans-serif;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}